[submodule "vendor/openfhe"]
	path = vendor/openfhe
	url = https://github.com/NiobiumInc/openfhe-development.git
	branch = nb_main
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
